body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
 
.container {
    flex: 1;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 120PX;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.timer {
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}

.question {
    margin-bottom: 30px;
    text-align: left;
}

.question h2 {
    font-size: 22px;
    color: #444;
    margin-bottom: 15px;
}

.answers label {
    display: block;
    padding: 10px;
    margin-bottom: 12px;
    background-color: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.answers input {
    margin-right: 10px;
}

.answers label:hover {
    background-color: #e3e3e3;
    transform: translateX(5px);
}

.answers input:checked + label {
    background-color: #6c63ff;
    color: #fff;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    gap: 10px; 
}
button[type="submit"],[type="reset"]{
    display: flex;
    justify-content: center;                 
    margin-top: 20px; 
}


button:hover {
    background-color: #5a53e3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

.question:last-child {
    margin-bottom: 0;
}
form{
    border-collapse: collapse;
}
footer {
    background-color: rgb(227, 231, 239);
    color: #0d0101;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
  }
  
  .footer-content p {
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
  }
  
  footer p:first-child {
    font-weight: bold;
  }
  
  footer p:last-child {
    font-style: italic;
    color: #465255;
  }