body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.container {
    text-align: left;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    font-size: 18px;
    color: #555;
}

.answers {
    margin-top: 10px;
}

.answers label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Affichage du temps */
.timer {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}